<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/products">Lost-and-Found</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/new">NEW</a>
          </li>     
        </ul>
        <% if(!currentUser){ %>
           
        <form class="d-flex" action="/login" method="GET">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
        <% }  else{%>
          <button type="button" class="btn btn-secondary mx-5"><%= currentUser.username %></button>
          <form class="d-flex" action="/logout" method="GET">  
            <button class="btn btn-outline-danger" type="submit">Logout</button>
          </form>
        <% } %>
        
       
      </div>
    </div>
  </nav>