<% layout('layouts/boilerpalte') -%> 

<h2 class="text-center text-secondary">You are not the owner of this product so you <br> can't perform this operation. <br>
    <a href="/products" class="btn btn-primary btn-sm">Redirect to Home</a>
</h2>